.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-items: center;
  font-size: calc(10px + 2vmin);
  color: white;
  padding: 20px;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container > div > div {
  color: white;
}

.menu {
  display: flex;
  flex-wrap: wrap;
}

.btn {
  margin-right: 20px;
  padding: 20px;
  border-radius: 4px;
  background-color: darkcyan;
  box-shadow: 0 2px 5px -1px rgba(0, 0, 0, 0.3);
  transition: all 100ms ease-in-out;
  margin: 20px;
}

.btn:hover {
  color: orange;
  cursor: pointer;
  box-shadow: 0 2px 15px 5px rgba(0, 0, 0, 0.3);
}

span {
  margin-top: 20px;
}

a, 
.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
